
<h1>Here are <%= @user.name.capitalize %>'s devotions!</h1>

<h3>Email: <%= @user.email %></h3>

<br><br>


<% @user.devotion_entries.each do |devotion_entry| %>
<h4><a href="/devotion_entries/<%= devotion_entry.id %>"><%= devotion_entry.formatted_created_at %></a></h4>
<p><%= devotion_entry.content %>
<br>By <%= devotion_entry.user.name.capitalize %></p>
    <br><br>
<% end %>

Click on one of the links at the top of the page to get started!