<p><%= @devotion_entry.user.name.capitalize %>'s Devotion</p>

<br><br>
<p><%= @devotion_entry.content%></p>

<p>Created by: <%= @devotion_entry.user.name.capitalize %></p>

<p>Created on: <%= @devotion_entry.formatted_created_at %></p>

 <% if authorized_to_edit?(@devotion_entry)%>
    <a href="/devotion_entries/<%= @devotion_entry.id %>/edit">Edit Devotion</a>
    <br><br>
    <form class="" action="/devotion_entries/<%= @devotion_entry.id %>" method="post">

    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Devotion">
    </form>
<% end %>